<h2>Cuándo Pasa? (Proxy)</h2>
<form id="arrivals_query" action="/arrivals" method="get">
  <input type="text" name="bus_stop_id" placeholder="Ingresá el número de la parada...">
  <input type="submit" value="¿Cuándo Pasa?">
</form>
